.stat-wrap {
	max-width: 100%;
	flex: 1 0 auto;

	padding: 1rem 0.5rem 1.5rem;

	@media screen and (min-width: 768px) {
		padding: 1rem 4rem 1.5rem;
	}

	@media screen and (min-width: 1280px) {
		padding: 1rem 10rem 0;
	}
}
